<div id="championInput" class="reveal-modal medium">
	<h2>Hello Summoner!</h2>
	<p class="lead">Please enter your Summoner name</p>
	<input type="text" id="summonerName" ng-model="summonerName" bs-typeahead="typeahead" data-provide="typeahead">
	 <a class="close-reveal-modal">&#215;</a>
</div>
</section>
<section class="intro">
<h2>Hello {{summonerName}}!</p>
<p>Welcome to Leaguebuddy, we're assuming that this is your first visit to the site</p>
<p>You can start by pushing on the button below and entering your summoner name, the rest will follow.</p>
<p>If you want you can always skip the intro and hop on over to the other pages directly, but you won't be able to save any preferences for future visits if you don't follow these simple steps</p>
<a href="#" class="button"data-reveal-id="championInput">Enter name</a>
<p>Herro scoobie!</p>